/*  */
:root {
  --gap: 0.25rem;
  background-color: #eee;
}

h1, h2, h3 {
  color: gray;
  font-family: sans-serif;
  margin-bottom: var(--gap);
}

input,
select,
textarea {
  color: red;
}
select[multiple] {
  height: 1.5rem;
  min-width: 1.5rem;
  vertical-align: top;
}
select[multiple]:focus {
  height: auto;
}
textarea {
  vertical-align: middle;
}

label.continued {
  border-left: none;
  margin-left: -1px;
}

.wrap,
label {
  background-color: white;
  border: 1px solid gray;
  border-radius: var(--gap);
  display: inline-block;
  margin-bottom: var(--gap);
  padding: var(--gap) calc(var(--gap) * 2);
  vertical-align: top;
}

/* flag this elusive state, if possible */
:indeterminate {
  border: 1px solid lime;
  outline-color: lime;
  outline-style: solid;
  outline-width: 1px;
}

/* fancy stuff */

.big {
  font-size: 1.5rem;
}

#__bs_notify__ {
  /* display: none !important; */
}
